.example-spacer {
  flex: 1 1 auto;
}

.imgLogo{
  width: 35%;
  padding: 50px;
} 

#menuProducto{
  display: none;
}
@media (min-width: 710px) and (max-width: 1000px) {
  .imgLogo{
    width: 45%;
    padding: 0px;
  }
}   

/* Declaramos con palabra reservada MEDIA -> DISPOSITIVOS PEQUEÑOS (ej: celulares) */
@media (min-width: 300px) and (max-width: 700px) {
  mat-toolbar{
    background-color: #FFF;
  }

  .imgLogo{
    padding: 0px;
    width: 60%;
    height: auto;
  }

}

@media (min-width: 700px){
  mat-toolbar{
    background-color: #FFF;
  }

}