<div class="divprin">

    <div class="divimg">
        <a routerLink="/inicio">
            <img class="cardimg" src="../../../../../assets/img1.jpg">
        </a>
        <div class="card-actions">
            <button class="btn-card">
                <h1>Remeras</h1>
                <mat-icon class="icon-right">trending_flat</mat-icon>
            </button>
        </div>
    </div>

    <div class="divimg">
        <a routerLink="/inicio">
            <img class="cardimg" src="../../../../../assets/img3.jpg">
        </a>
        <div class="card-actions">
            <button class="btn-card"><h1>Sweaters</h1>
                <mat-icon class="icon-right">trending_flat</mat-icon>
            </button>
        </div>
    </div>

    <div class="divimg">
        <a routerLink="/inicio">
            <img class="cardimg" src="../../../../../assets/img2.jpg">
        </a>
        <div class="card-actions">
            <button class="btn-card"><h1>Pantalones y Joggers</h1>
                <mat-icon class="icon-right">trending_flat</mat-icon>
            </button>
        </div>
    </div>

    <div class="divimg">
        <a routerLink="/inicio">
            <img class="cardimg" src="../../../../../assets/img4.jpg">
        </a>
        <div class="card-actions">
            <button class="btn-card"><h1>Buzos</h1>
                <mat-icon class="icon-right">trending_flat</mat-icon>
            </button>
        </div>
    </div>

</div>