.portada {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}


.container {
    background-color: rgba(230, 230, 230, 0.9);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    /* Ajusta según sea necesario */
    padding: 0;
    box-sizing: border-box;
}

.divprin {
    flex: 1 1 20%;
    /* Ajusta el tamaño de cada columna según sea necesario */
    padding: 1.8em 1em;
    background-color: rgb(230, 230, 230, 0.9);
    border-right: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* Espacio entre cada fila */
}

.divprin:last-child {
    border-right: none;
}

.icondiv {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

h4 {
    margin-top: 0.5em;
}