<img class="portada" src="../.././../../../assets/portada.jpg" alt="">

<div class="container">

    <div class="divprin">
        <mat-icon class="icondiv">local_shipping</mat-icon>
        <h4>Envios Gratis</h4>
        <p>Para compras superiores a &dollar;50.000 </p>
    </div>

    <div class="divprin">
        <mat-icon class="icondiv">payments</mat-icon>
        <h4>Cuotas Sin Interes</h4>
        <p>con tarjetas Visa, Mastercard, Cabal</p>
    </div>

    <div class="divprin">
        <mat-icon class="icondiv">store</mat-icon>
        <h4>Retiros en Tiendas</h4>
        <p>Retira Gratis en tiendas seleccionadas</p>
    </div>

    <div class="divprin">
        <mat-icon class="icondiv">timer</mat-icon>
        <h4>Envios Al Dia</h4>
        <p>Recibe tu compra el mismo dia por un costo adicional</p>
    </div>

    <div class="divprin">
        <mat-icon class="icondiv">sync</mat-icon>
        <h4>Cambios y Devoluciones</h4>
        <p>Acercate a la tienda mas cercana en cualquier momento para realizar un cambio a su conveniencia</p>
    </div>
    
</div>