body,
html {
    margin: 0;
    height: 200%;
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../../../../../assets/pexels-eberhardgross-1367192.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: opacity 0.5s, background-color 0.5s;
    z-index: -1;
    /* Agregamos una transición para que el efecto sea suave */
}

.content {
    margin-top: 180vh;
    padding: 20px;
    background: white;
}


/* https://uiverse.io/cards */

.container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  gap: 25px;
  margin: 20px auto;
  padding: 20px;
}

li{
  list-style: none;
}

.card-grid{
  width: 600px;
  display: relative;
  top: 600px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card-grid:hover{
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 600px;
  border-radius: 6px 6px 0 0;
}


.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}