<!-- <div class="BgImg"></div>
    <div class="Dpcontent">
        <div class="divimg" *ngFor="let i of abrigos">
            <a routerLink="/inicio">
                <img class="cardimg" src="{{i.imagen}}" alt="{{i.alt}}">
            </a>
            <div class="card-actions">

                 <button class="btn-card">
                    <h1>{{i.titulo}}</h1>
                    <mat-icon class="icon-right">trending_flat</mat-icon>
                </button> 

            </div>
        </div>
    </div> -->

    <header>
        
    </header>